@{
  Layout = "_Layout";
}

<h1>Welcome to Eau Claire's Salon!</h1>

<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active">@Html.ActionLink("See all clients", "Index", "Client")</a>
  </li>
  <li class="nav-item">
    <a class="nav-link">@Html.ActionLink("See all stylists", "Index", "Stylist")</a>
  </li>
</ul>